* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, serif;
}

body{
  /* background: #F2F5FA; */
  background: #ddd;
}

a{
  text-decoration: none;
  color: #222;
}

.container{
  margin: 1rem 2rem;
}

ul{
  list-style: none;
}
